.DS_Store
.chrome/
.idea/
.vscode/
*.iml
tmp/

config/
demo/
gh-pages/
lib/
node_modules/
.editorconfig
.gitignore
.travis.yml
karma.conf.js
npm-debug.log
tsconfig.json
tslint.json
typedoc.json
webpack.config.js
