<div class="container p-t-3 p-b-3">

  <h1>HAL Navigator</h1>

  <p class="lead">Hyping thru media with the hypermedia abstraction language.</p>

  <hr>

  <main>
    <form (ngSubmit)="onFormSubmit()">
      <div class="form-group row">
        <label for="formVerb" class="col-sm-2">HTTP Verb:</label>
        <div class="col-sm-10">
          <select class="form-control" id="formVerb"
                  name="verb" [(ngModel)]="model.verb">
            <option>GET</option>
            <option>POST</option>
            <option>PUT</option>
            <option>DELETE</option>
            <option>PATCH</option>
            <option>HEAD</option>
            <option>OPTIONS</option>
          </select>
        </div>
      </div>
      <div class="form-group row">
        <label for="formUrlInput" class="col-sm-2">URL:</label>
        <div class="col-sm-10">
          <input id="formUrlInput" class="form-control"
                 type="text" name="url" [(ngModel)]="model.url"/>
        </div>
      </div>
      <div class="form-group row">
        <div class="offset-sm-2 col-sm-10">
          <button type="submit" class="btn btn-primary">Navigate</button>
        </div>
      </div>
    </form>
  </main>

  <nav>
    <ul class="nav nav-tabs m-b-1">
      <li class="nav-item"><a class="nav-link" href="#" [class.active]="activeTab == 'hal'"      (click)="onSwitchTab('hal')">HAL Resource</a></li>
      <li class="nav-item"><a class="nav-link" href="#" [class.active]="activeTab == 'links'"    (click)="onSwitchTab('links')">Links</a></li>
      <li class="nav-item"><a class="nav-link" href="#" [class.active]="activeTab == 'embedded'" (click)="onSwitchTab('embedded')">Embedded</a></li>
      <li class="nav-item"><a class="nav-link" href="#" [class.active]="activeTab == 'http'"     (click)="onSwitchTab('http')">HTTP</a></li>
    </ul>
  </nav>

  <aside *ngIf="activeTab == 'hal'">
    <div class="row">
      <div class="col-md-6">
        <h4>Original Resource</h4>
        <pre><code class="small">{{ resource?.original() | json }}</code></pre>
      </div>
      <div class="col-md-6">
        <h4>Resource <small><em>(normalized by halfred)</em></small></h4>
        <pre><code class="small">{{ resource | json }}</code></pre>
      </div>
    </div>
  </aside>

  <aside *ngIf="activeTab == 'links'">
    <div class="row">
      <div class="col-md-6">
        <h4>Links <small><em>resource.allLinks()</em></small></h4>
        <pre><code class="small">{{ resource?.allLinks() | json }}</code></pre>
      </div>
      <div class="col-md-6">
        <h4>CURIEs <small><em>resource.curieArray()</em></small></h4>
        <pre><code class="small">{{ resource?.curieArray() | json }}</code></pre>
      </div>
    </div>
  </aside>

  <aside *ngIf="activeTab == 'embedded'">
    <div class="row">
      <div class="col-md-12">
        <h4>All Embedded Resources <small><em>resource.allEmbeddedResources()</em></small></h4>
        <pre><code class="small">{{ resource?.allEmbeddedResources() | json}}</code></pre>
      </div>
    </div>
  </aside>

  <aside *ngIf="activeTab == 'http'">
    <div class="row">
      <div class="col-md-6">
        <h4>Request</h4>
        <pre><code class="small">{{ request | json}}</code></pre>
      </div>
      <div class="col-md-6">
        <h4>Response</h4>
        <pre><code class="small">{{ response | json }}</code></pre>
      </div>
    </div>
  </aside>


  <footer>
  </footer>

</div>
