<div class="container p-t-2 p-b-3">

  <h1>HAL Navigator</h1>

  <div class="row">
    <div class="col-md-9">
      <p class="lead">Hyping thru media with the hypermedia abstraction language.</p>
    </div>
    <div class="col-md-3 text-md-right">
      <a href="https://github.com/dherges/ng2-hal" aria-label="Homepage" class="github-link">
          <svg aria-hidden="true" class="octicon" height="32" version="1.1" viewBox="0 0 16 16" width="32"><path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.013 8.013 0 0 0 16 8c0-4.42-3.58-8-8-8z"></path></svg>
      </a>

      <a href="https://www.npmjs.com/package/ng2-hal">
        <svg viewBox="0 0 18 7" height="31" width="82">
          <path fill="#CB3837" d="M0,0v6h5v1h4v-1h9v-6"></path>
          <path fill="#FFF" d="M1,1v4h2v-3h1v3h1v-4h1v5h2v-4h1v2h-1v1h2v-4h1v4h2v-3h1v3h1v-3h1v3h1v-4"></path>
        </svg>
      </a>
    </div>
  </div>

  <hr>

  <main>
    <form (ngSubmit)="onFormSubmit()" #navigationForm="ngForm">
      <div class="form-group row">
        <label for="formVerb" class="col-sm-2">Verb:</label>
        <div class="col-sm-10">
          <select class="form-control"
                  id="formVerb"
                  name="verb"
                  required
                  [(ngModel)]="model.verb">
            <option>GET</option>
            <option>POST</option>
            <option>PUT</option>
            <option>DELETE</option>
            <option>PATCH</option>
            <option>HEAD</option>
            <option>OPTIONS</option>
          </select>
        </div>
      </div>
      <div class="form-group row">
        <label for="formUrlInput" class="col-sm-2">URL:</label>
        <div class="col-sm-10">
          <input class="form-control"
                 id="formUrlInput"
                 type="text"
                 name="url"
                 required
                 [(ngModel)]="model.url"/>
        </div>
      </div>
      <div class="form-group row" *ngFor="let param of this.model.params">
        <label for="formUrlInput_x" class="col-sm-2">Params:</label>
        <div class="col-sm-3">
          <input class="form-control"
                 id="formUrlInput_x"
                 type="text"
                 placeholder="Key"
                 name="params_key_x"
                 required
                 [(ngModel)]="param.key"/>
        </div>
        <div class="col-sm-3">
          <input class="form-control"
                 id="formUrlInput_xy"
                 type="text"
                 placeholder="Value"
                 name="params_value_x"
                 required
                 [(ngModel)]="param.value"/>
        </div>
      </div>

      <div class="form-group row">
        <div class="offset-sm-2 col-sm-10">
          <button type="submit" class="btn btn-primary" [disabled]="navigationForm.invalid">Navigate</button>
        </div>
      </div>
    </form>
  </main>

  <nav>
    <ul class="nav nav-tabs m-b-1 p-l-1 p-r-1">
      <li class="nav-item">
        <a class="nav-link" href="#"
           [class.active]="activeTab == 'hal'"
           (click)="onSwitchTab('hal')">HAL Resource</a>
      </li>
      <li class="nav-item"><a class="nav-link" href="#"
          [class.active]="activeTab == 'embedded'"
          (click)="onSwitchTab('embedded')">Embedded</a>
      </li>
      <li class="nav-item"><a class="nav-link" href="#"
          [class.active]="activeTab == 'links'"
          (click)="onSwitchTab('links')">Links</a>
      </li>
      <li class="nav-item"><a class="nav-link" href="#"
          [class.active]="activeTab == 'navigation'"
          (click)="onSwitchTab('navigation')">Navigation</a>
      </li>
      <li class="nav-item"><a class="nav-link" href="#"
          [class.active]="activeTab == 'http'"
          (click)="onSwitchTab('http')">HTTP</a>
      </li>
    </ul>
  </nav>

  <aside *ngIf="activeTab == 'hal'">
    <div class="row">
      <div class="col-md-6">
        <h4>Original Resource</h4>
        <pre><code class="small">{{ resource?.original() | json }}</code></pre>
      </div>
      <div class="col-md-6">
        <h4>Resource <small><em>(normalized by halfred)</em></small></h4>
        <pre><code class="small">{{ resource | json }}</code></pre>
      </div>
    </div>
  </aside>

  <aside *ngIf="activeTab == 'links'">
    <div class="row">
      <div class="col-md-6">
        <h4>Links <small><em>resource.allLinks()</em></small></h4>
        <pre><code class="small">{{ resource?.allLinks() | json }}</code></pre>
      </div>
      <div class="col-md-6">
        <h4>CURIEs <small><em>resource.curieArray()</em></small></h4>
        <pre><code class="small">{{ resource?.curieArray() | json }}</code></pre>
      </div>
    </div>
  </aside>

  <aside *ngIf="activeTab == 'embedded'">
    <div class="row">
      <div class="col-md-12">
        <h4>All Embedded Resources <small><em>resource.allEmbeddedResources()</em></small></h4>
        <pre><code class="small">{{ resource?.allEmbeddedResources() | json}}</code></pre>
      </div>
    </div>
  </aside>

  <aside *ngIf="activeTab == 'navigation'">
    <div class="row">
      <div class="col-md-12">
        <h4>Navigation</h4>
        <ul>
          <li *ngFor="let link of links">
            <a href="{{link.href}}" (click)="onNavigate(link)">rel={{link.rel}}, href={{link.href}}</a>
          </li>
        </ul>
      </div>
    </div>
  </aside>

  <aside *ngIf="activeTab == 'http'">
    <div class="row">
      <div class="col-md-6">
        <h4>Request</h4>
        <pre><code class="small">{{ request | json}}</code></pre>
      </div>
      <div class="col-md-6">
        <h4>Response</h4>
        <pre><code class="small">{{ response | json }}</code></pre>
      </div>
    </div>
  </aside>


  <footer>
  </footer>

</div>
